.card
  margin-left: 58px
  box-shadow 0 0px 0px 0 rgba(0,0,0,0.16),0 1px 0px 0 rgba(0,0,0,0.12)

.content,
.full-name,
.user-name,
.time,
.fa-reply,
.fa-retweet,
.fa-heart
  font-size: 13px;

.card img
  margin-left: -58px;
  float: left;

.full-name:hover
  color: #039be5;
  text-decoration: underline;

.full-name
  color: black;

.time,
.user-name
  margin-left: 5px;
  color: gray;

.fa-reply,
.fa-retweet,
.fa-heart
  margin-right: 2px;
  margin-left: 10px;
  padding: 5px;
  color: gray;
  font-size: 13px;

.fa-heart:hover
  color: red;

.fa-reply:hover,
.fa-retweet:hover
  color: green;
