.card
  margin-left: 58px;
  box-shadow 0 0px 0px 0 rgba(0,0,0,0.16),0 1px 0px 0 rgba(0,0,0,0.12)

.card .content
  font-size: 13px;

.card img
  margin-left: -58px;
  float: left;

.card .full-name:hover
  color: #039be5;
  text-decoration: underline;

.card .full-name
  color: black;
  font-size: 13px;

.card .user-name
  margin-left: 5px;
  font-size: 13px;
  color: gray;

.card .time
  margin-left: 5px;
  font-size: 13px;
  color: gray;

.fa-reply,
.fa-retweet,
.fa-heart
  margin-right: 2px;
  padding: 5px;
  color: gray;

.fa-reply,
.fa-retweet,
.fa-heart
  margin-left: 10px;

.fa-heart:hover
  color: red;

.fa-reply:hover,
.fa-retweet:hover
  color: green;
