.container-settings
  margin-top: 50px;

label[for=tweet_num_col_1],
label[for=tweet_num_col_2],
label[for=tweet_num_col_3]
  margin-top: -25px;
  font-size: 0.8rem;

label[for=num_of_cols_select],
label[for=color_pal_select]
  margin-top: -40px;

.btn-save,
.btn-reset
  font-size: 13px;
  margin-top: 10px;
