<div class="row">
  <div ng-class="{ 'col m12 l4': vm.settings.numberOfColumns === '3',
    'col s12 m6': vm.settings.numberOfColumns === '2',
    'col s12 m6 push-m3': vm.settings.numberOfColumns === '1' }">
    <stream user-name="vm.settings.columnOneName"
      tweet-count="vm.settings.columnOneTweetCount"
      start-date="vm.settings.startDate"
      end-date="vm.settings.endDate"/>
  </div>
  <div ng-class="{ 'col m12 l4': vm.settings.numberOfColumns === '3',
    'col s12 m6': vm.settings.numberOfColumns === '2' }"
    ng-if="vm.settings.numberOfColumns === '2' || vm.settings.numberOfColumns === '3'">
    <stream user-name="vm.settings.columnTwoName"
      tweet-count="vm.settings.columnTwoTweetCount"
      start-date="vm.settings.startDate"
      end-date="vm.settings.endDate"/>
  </div>
  <div class="col m12 l4" ng-if="vm.settings.numberOfColumns === '3'">
    <stream user-name="vm.settings.columnThreeName"
      tweet-count="vm.settings.columnThreeTweetCount"
      start-date="vm.settings.startDate"
      end-date="vm.settings.endDate"/>
  </div>
</div>
